.trailer-watch{
   font-size: 30px;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
.trailer_watch{
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.trailer_watch p{
    font-size: 20px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid red;
}